// PageNav Styles Module

.nav 
    display: block
    border: solid 1px #333
    ul 
        margin: 0
        padding: 0
    li 
        display: inline-block
        padding: 1rem
        color: #ddd
        &.active 
            a
                color: yellow