// Dashboard SASS module 

@use "sass:color"

@use 'general.sass' as *

.postform 
  display: flex
  flex-direction: column
  gap: 0.5rem 
  border: solid 1px #222
  padding: 1rem

.postlist 
  display: block
  border: solid 1px #222 
  li 
    display: block 
    padding: 1rem

.postitem 
  display: block 
  small 
    display: block
    margin-bottom: 0.5em
  
.control 
  display: flex
  input,
  textarea 
    padding: 0.5rem

.buttonrow
  display: flex
  gap: 0.5rem
  justify-content: flex-start
  button 
    padding: 0.25rem 0.5rem


